@charset "EUC-KR";
* a {
	text-decoration: none;
	color: #8e8e8e;
}

* a:visited {
	color: #8e8e8e;
}
.textBtn {
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
}
.textBtn:hover {
	cursor: pointer;
}
.textBtn:active {
	border: none;
}
html {
	height: 100%;
}
body {
	margin: 0px;
	min-width: 1190px;
	height: 100%;
}

#root {
	overflow: hidden;
    min-width: 1190px;
    height: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f5f6f7;
}
#root-find {
}
#topBar-account{
	height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #19ce60;
}
#topBar-find {
	height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #19ce60;
}
.account-navbar-left {
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.find-navbar-left {
	margin-left: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.account-navbar-right {
    margin-right: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 1116px;
}
.account-wrap {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 18%;
    margin-right: 18%;
}
.update-wrap {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
}
.out-wrap {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 18%;
    margin-right: 18%;
}
.find-wrap {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
}
.account-card {
	width: 450px;
	height: 300px;
	margin: 20px;
	border: 1px solid grey;
}
.update-card {
	width: 450px;
	margin: 20px;
	border: 1px solid grey;
}
.account-bottom {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 18%;
    margin-right: 18%;
}
#loginArea {
	height: 50%;
	overflow: hidden;
    min-width: 1190px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#ready {
	height: 50%;
}
.top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loginBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 450px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.logInBtn {
	width: 459px;
	background: #03c75a;
	height: 50px;
	border: none;
	font-size: 24px;
	color: white;
}
.logInput {
	width: 450px;
	height: 50px;
}
.logInput:hover {
	cursor: pointer;
}
.low {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.textBtn {
	margin-left: 8px;
	margin-right: 8px;
}
.container {
	overflow: hidden;
    min-width: 450px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.label {
	overflow: hidden;
    min-width: 450px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 5px;
}
.signInput {
	width: 450px;
	height: 50px;
	margin-bottom: 5px;
	font-size: 17px;
}
.signInput-3{
	width: 120px;
	height: 50px;
	margin-bottom: 5px;
	font-size: 17px;
}
.signInput-3:hover {
	cursor: pointer;
}
.signInput:hover {
	cursor: pointer;
}
.birthPart {
	overflow: hidden;
	width: 450px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.submitBtn {
	margin-top: 10px;
	border: none;
	background: none;
	font-size: 18px;
}
.submitBtn:hover {
	cursor: pointer;
}